#name: New Action 

on:
  push:
    branches: [ main ] 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
      - uses: actions/setup-node@v3
        with:
          node-version: 12
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      
      - name: Install Surge 
        run: npm install -g surge 
        
      - name: Deploy web
      - run: surge ./ absorbed-quarter.surge.sh --token ${{ secrets.SURGE_SECRET }}
 
        
      

     
